.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.search_row {
  display:flex;
  align-items: center;
}

.search_row button {
  margin-top:3.5rem;
  margin-left: 3rem;
}


.search_message {
  height: 4rem;
  position:relative;
}

.search_error {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color:var(--color-dark-1);
}

.search_spinner {
  position: absolute;
}